.index {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.index .content-wrapper {
  background-color: #ffffff;
  width: 1440px;
  height: 1495px;
}

.index .content {
  position: relative;
  width: 900px;
  height: 1495px;
  left: 270px;
  background-color: #ffffff;
}

.index .content-right {
  position: absolute;
  width: 650px;
  height: 1471px;
  top: 0;
  left: 250px;
}

.index .personal-info {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
  position: absolute;
  top: 21px;
  left: 51px;
}

.index .name {
  position: relative;
  width: 599px;
  height: 95px;
}

.index .div {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #060000;
  font-size: 46.5px;
  line-height: normal;
}

.index .text-wrapper {
  letter-spacing: 0.43px;
}

.index .span {
  letter-spacing: -1.3px;
}

.index .profession {
  position: absolute;
  top: 60px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #060000;
  font-size: 28px;
  letter-spacing: -0.84px;
  line-height: normal;
}

.index .contact {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
}

.index .phone-mail {
  position: relative;
  width: 377px;
  height: 20px;
}

.index .phone {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: absolute;
  top: 0;
  left: 0;
}

.index .call-icon {
  position: relative;
  width: 20px;
  height: 20px;
}

.index .value {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #0f0f03;
  font-size: 15.5px;
  letter-spacing: 0;
  line-height: normal;
}

.index .email {
  position: absolute;
  width: 204px;
  height: 20px;
  top: 0;
  left: 173px;
}

.index .img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}

.index .value-2 {
  position: absolute;
  top: 0;
  left: 24px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #0f0f03;
  font-size: 15.5px;
  letter-spacing: 0;
  line-height: normal;
}

.index .location {
  position: relative;
  width: 261px;
  height: 20px;
}

.index .summary {
  position: absolute;
  width: 625px;
  height: 144px;
  top: 201px;
  left: 0;
}

.index .heading {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #060000;
  font-size: 18px;
  letter-spacing: -0.54px;
  line-height: normal;
}

.index .divider {
  position: absolute;
  top: 34px;
  left: 0;
  width: 557px;
  height: 2px;
  background-color: #cac9d1;
}

.index .text {
  position: absolute;
  width: 625px;
  top: 47px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #313131;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.index .employment-history {
  position: absolute;
  width: 625px;
  height: 555px;
  top: 383px;
  left: 0;
}

.index .jobs {
  position: absolute;
  width: 625px;
  height: 515px;
  top: 40px;
  left: 0;
}

.index .job {
  height: 237px;
  top: 278px;
  position: absolute;
  width: 625px;
  left: 0;
}

.index .company {
  top: -1px;
  position: absolute;
  left: 0;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16.9px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.index .duration {
  position: absolute;
  top: 27px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #83888b;
  font-size: 16.9px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.index .responsibilities {
  padding: 4px 10px 10px 16px;
  top: 56px;
  display: flex;
  flex-direction: column;
  width: 625px;
  height: 181px;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  left: 0;
}

.index .res {
  margin-top: -1px;
  position: relative;
  width: 607px;
  margin-right: -8px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #313131;
  font-size: 16.9px;
  letter-spacing: 0;
  line-height: 23.6px;
}

.index .p {
  position: relative;
  width: 607px;
  margin-right: -8px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #313131;
  font-size: 16.9px;
  letter-spacing: 0;
  line-height: 23.6px;
}

.index .res-2 {
  margin-bottom: -8px;
  position: relative;
  width: 607px;
  margin-right: -8px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #313131;
  font-size: 16.9px;
  letter-spacing: 0;
  line-height: 23.6px;
}

.index .job-2 {
  height: 238px;
  top: 0;
  position: absolute;
  width: 625px;
  left: 0;
}

.index .divider-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 557px;
  height: 2px;
  background-color: #cac9d1;
}

.index .company-2 {
  top: 6px;
  position: absolute;
  left: 0;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16.9px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.index .duration-2 {
  position: absolute;
  top: 31px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #83888b;
  font-size: 16.9px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.index .responsibilities-2 {
  padding: 0px 10px 10px 16px;
  top: 57px;
  display: flex;
  flex-direction: column;
  width: 625px;
  height: 181px;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  left: 0;
}

.index .res-3 {
  position: relative;
  width: 607px;
  margin-bottom: -4px;
  margin-right: -8px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #313131;
  font-size: 16.9px;
  letter-spacing: 0;
  line-height: 23.6px;
}

.index .cerfificate {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  top: 1129px;
  left: 0;
}

.index .text-wrapper-2 {
  color: #000000;
  font-size: 16.9px;
  letter-spacing: 0;
  white-space: nowrap;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  line-height: normal;
}

.index .certificate-list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
  position: relative;
  flex: 0 0 auto;
}

.index .divider-3 {
  position: relative;
  width: 557px;
  height: 2px;
  background-color: #cac9d1;
}

.index .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #83888b;
  font-size: 16.9px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.index .education {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  top: 981px;
  left: 0;
}

.index .edu-details {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.index .school {
  position: relative;
  width: fit-content;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 24px;
  white-space: nowrap;
}

.index .references {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  top: 1265px;
  left: 0;
}

.index .frame {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.index .availability {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #313131;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32.4px;
  white-space: nowrap;
}

.index .content-left {
  position: absolute;
  width: 250px;
  height: 1471px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.index .details {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  position: absolute;
  top: 447px;
  left: 4px;
}

.index .title {
  color: #060000;
  font-size: 18px;
  letter-spacing: -0.54px;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  line-height: normal;
}

.index .info {
  width: 165px;
  position: relative;
  height: 17px;
}

.index .value-3 {
  position: absolute;
  top: -1px;
  left: 78px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #313131;
  font-size: 14px;
  letter-spacing: 1.4px;
  line-height: 17px;
  white-space: nowrap;
}

.index .label {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #313131;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.index .info-2 {
  width: 96px;
  position: relative;
  height: 17px;
}

.index .valude {
  left: 64px;
  position: absolute;
  top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #313131;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.index .info-3 {
  width: 158px;
  position: relative;
  height: 17px;
}

.index .valude-2 {
  left: 107px;
  position: absolute;
  top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #313131;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.index .info-4 {
  width: 164px;
  position: relative;
  height: 17px;
}

.index .value-4 {
  position: absolute;
  top: -1px;
  left: 86px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #313131;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.index .profile-picture {
  position: absolute;
  width: 192px;
  height: 189px;
  top: 21px;
  left: 4px;
}

.index .social-links {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 242px;
  left: 0;
}

.index .socilal-links {
  position: relative;
  width: 126px;
  height: 126px;
}

.index .facebook {
  width: 97px;
  position: absolute;
  height: 18px;
  top: 0;
  left: 0;
}

.index .img-2 {
  width: 18px;
  position: absolute;
  height: 18px;
  top: 0;
  left: 0;
}

.index .name-2 {
  position: absolute;
  top: -1px;
  left: 22px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #313131;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.index .twitter {
  width: 97px;
  top: 36px;
  position: absolute;
  height: 18px;
  left: 0;
}

.index .linked-in {
  position: absolute;
  width: 97px;
  height: 18px;
  top: 72px;
  left: 0;
}

.index .personal-website {
  position: absolute;
  width: 126px;
  height: 18px;
  top: 108px;
  left: 0;
}

.index .skills {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: absolute;
  top: 648px;
  left: 4px;
}

.index .label-2 {
  position: relative;
  width: 180px;
  height: 39px;
  background-color: #ffffff;
}

.index .label-3 {
  position: absolute;
  top: 1px;
  left: 0;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #313131;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.index .bar {
  display: flex;
  flex-direction: column;
  width: 180px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 25px;
  left: 0;
  background-color: #dddddd;
  border-radius: 12px;
}

.index .progress {
  width: var(--collection-1-progress-15);
  position: relative;
  height: 12px;
  background-color: #444444;
  border-radius: 12px;
}

.index .progress-2 {
  width: var(--collection-1-progress-6);
  position: relative;
  height: 12px;
  background-color: #444444;
  border-radius: 12px;
}

.index .software {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: absolute;
  top: 1245px;
  left: 4px;
}

.index .progress-3 {
  width: var(--collection-1-progress-3);
  position: relative;
  height: 12px;
  background-color: #444444;
  border-radius: 12px;
}

.index .progress-4 {
  width: var(--collection-1-progress-7);
  position: relative;
  height: 12px;
  background-color: #444444;
  border-radius: 12px;
}

.index .language {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: absolute;
  top: 902px;
  left: 4px;
}

.index .progress-5 {
  width: var(--collection-1-progress-17);
  position: relative;
  height: 12px;
  background-color: #444444;
  border-radius: 12px;
}

.index .progress-6 {
  width: var(--collection-1-progress-14);
  position: relative;
  height: 12px;
  background-color: #444444;
  border-radius: 12px;
}

.index .progress-7 {
  width: var(--collection-1-progress-11);
  position: relative;
  height: 12px;
  background-color: #444444;
  border-radius: 12px;
}

.index .progress-8 {
  width: var(--collection-1-progress-9);
  position: relative;
  height: 12px;
  background-color: #444444;
  border-radius: 12px;
}

.index .progress-9 {
  width: var(--collection-1-progress-4);
  position: relative;
  height: 12px;
  background-color: #444444;
  border-radius: 12px;
}
